<%#
  Level progress in a single target (language, machine…).

  Requires:
    @target
    @total_xp
    @new_xp
    @heading_type (element used for heading)
%>
<<%= @heading_type %> class="level-counter">
  <strong class="level-prefix"><%= @target %></strong>
  level
  <%= render("leveltext.html", assigns) %>
</<%= @heading_type %>>

<%= render("progressbar.html", assigns) %>
