/*
 * Layout for the frontpage.
 */

#frontpage-history-graph {
  position: relative;
  height: 160px;
  width: 100%;
}

#frontpage-ads {
  display: grid;
  grid: auto auto auto / auto;
  grid-row-gap: 20px;

  @media #{$sm} {
    grid: auto / 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
}

#global-user-map-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #world-map-graph {
    flex: 3 1;
  }

  @media #{$md} {
    flex-direction: row;
  }
}
