<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Code::Stats is a free stats tracking service for programmers"
    />
    <meta name="author" content="Mikko Ahlroth" />

    <title><%= get_title(@conn) %></title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/css/frontend.css")} />

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/frontend/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/frontend/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/frontend/favicon-16x16.png" />
    <link rel="manifest" href="/assets/frontend/site.webmanifest" />
    <link rel="mask-icon" href="/assets/frontend/safari-pinned-tab.svg" color="#3e4053" />
    <link rel="shortcut icon" href="/assets/frontend/favicon.ico" />
    <meta name="msapplication-TileColor" content="#603cba" />
    <meta name="msapplication-config" content="/assets/frontend/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <%= if is_authed?(@conn) do %>
      <% username = get_current_user(@conn).username %>
      <%= tag(:meta, name: "channel_token", content: Phoenix.Token.sign(@conn, "user", username)) %>
      <%= tag(:meta, name: "authed-username", content: username) %>
    <% end %>

    <%= csrf_meta_tag() %>

    <script type="importmap">
      {
        "imports": {
          "chart.js": "<%= Routes.static_path(@conn, "/vendor/chart.js/dist/chart.esm.js") %>",
          "luxon": "<%= Routes.static_path(@conn, "/vendor/luxon/build/es6/luxon.js") %>",
          "redom": "<%= Routes.static_path(@conn, "/vendor/redom/esm/index.js") %>",
          "file-saver": "<%= Routes.static_path(@conn, "/vendor/file-saver/src/FileSaver.js") %>",
          "phoenix_live_view": "<%= Routes.static_path(@conn, "/vendor/phoenix_live_view/priv/static/phoenix_live_view.esm.js") %>",
          "phoenix": "<%= Routes.static_path(@conn, "/vendor/phoenix/priv/static/phoenix.mjs") %>"
        }
      }
    </script>

    <script
      phx-track-static
      async
      type="module"
      src={Routes.static_path(@conn, "/js/frontend/frontend.js")}
    >
    </script>
  </head>

  <body>
    <header id="nav-stripe" class="stripe">
      <a id="header-logo" class="logo" href={Routes.page_path(@conn, :index)}>
        <img
          src={Routes.static_path(@conn, "/assets/frontend/images/Logo.svg")}
          alt={get_conf(:site_name) <> " logo"}
          title={get_conf(:site_name)}
        />
      </a>

      <nav id="header-nav" role="navigation">
        <%= if is_authed?(@conn) do %>
          <a href={Routes.profile_path(@conn, :my_profile)}>Profile</a>
          <a href={Routes.preferences_path(@conn, :edit)}>Preferences</a>
          <a href={Routes.machine_path(@conn, :list)}>Machines</a>
          <a href={Routes.support_path(@conn, :page)}>Support C::S</a>
          <a href={Routes.auth_path(@conn, :logout)}>Log out</a>
        <% else %>
          <a href={Routes.auth_path(@conn, :render_login)}>Log in</a>
          <a href={Routes.auth_path(@conn, :render_signup)}>Sign up</a>
        <% end %>
      </nav>
    </header>

    <section id="flash-stripe">
      <%= if flash = get_flash(@conn, :info) do %>
        <div class="stripe flash-stripe" role="alert">
          <%= flash %>
        </div>
      <% end %>
      <%= if flash = get_flash(@conn, :success) do %>
        <div class="stripe flash-stripe flash-success" role="alert">
          <%= flash %>
        </div>
      <% end %>
      <%= if flash = get_flash(@conn, :error) do %>
        <div class="stripe flash-stripe flash-error" role="alert">
          <%= flash %>
        </div>
      <% end %>

      <%= if get_conf(:beta_mode) do %>
        <section class="stripe flash-stripe" role="alert">
          <strong>Note!</strong>
          This instance is in beta mode. You can register as normal and use this instance for testing
          purposes, such as for developing a new editor plugin. The database may be reset at any time.
        </section>
      <% end %>

      <section id="ie-warning" class="stripe stripe-warning" role="alert">
        <strong>⚠️ Warning!</strong>
        It seems you are using Internet Explorer, which is an unsupported browser. This website uses technologies not supported
        by your browser and as such will probably not work. Please try using some recent browser, like <a
          href="https://www.mozilla.org/en-US/firefox/new/"
          target="_blank"
        >Mozilla Firefox</a>.
      </section>
    </section>

    <main>
      <%= @inner_content %>
    </main>

    <footer id="footer-stripe" class="stripe stripe-accent">
      <section>
        <h6 class="no-margin">
          <%= CodeStatsWeb.RequestTimePlug.calculate_time(@conn) %>, <%= inspect(self()) %>
        </h6>
        <a href={Routes.changes_path(@conn, :changes)}>
          <%= get_conf(:version) %>-<%= get_conf(:commit_hash) %>
        </a>
        <a href={Routes.page_path(@conn, :plugins)}>Plugins</a>
        <a href={Routes.page_path(@conn, :api_docs)}>API docs</a>
        <a href={Routes.page_path(@conn, :terms)}>Legal</a>
      </section>

      <%= if not Enum.empty?(get_conf(:social_links)) do %>
        <section>
          <h6 class="no-margin">Contact us!</h6>
          <%= for [name, url] <- get_conf(:social_links) do %>
            <a href={url} rel="me"><%= name %></a>
          <% end %>
        </section>
      <% end %>

      <section>
        <p>
          Made with <a target="_blank" href="http://elixir-lang.org/">Elixir</a>, <a
            target="_blank"
            href="http://www.phoenixframework.org/"
          >Phoenix</a>, and <a target="_blank" href="https://redom.js.org/">RE:DOM</a>.
        </p>
        <p class="no-margin">
          <small>
            <%= get_conf(:site_name) %> development sponsored by
            <a target="_blank" href="https://www.vincit.fi/en/">Vincit</a>
            , the passionate software company.
          </small>
        </p>
        <p class="no-margin">
          <small>
            Realtime monitoring provided by <a target="_blank" href="https://appsignal.com/">AppSignal</a>.
          </small>
        </p>
      </section>
    </footer>

    <div id="cookie-notice-container"></div>
    <%= raw(get_conf(:analytics_code)) %>
  </body>
</html>
