.top-languages {
  grid-area: top-l;

  display: grid;

  grid-column-gap: 10px;
  grid-template-columns: 1fr;

  @media #{$md} {
    grid-template-columns: 1fr 1fr;
  }

  .level-counter {
    margin-top: $heading-margin-top !important;
  }
}

.other-languages {
  grid-area: other-l;
}
