<div class="stripe">
  <h1>Request a password reset token</h1>

  <%= form_for(@changeset, Routes.auth_path(@conn, :render_forgot), fn f -> %>
    <label for="username" class={if f.errors[:username], do: "has-error", else: ""}>
      Username (required)
    </label>
    <div class="input">
      <%= text_input(f, :username, required: true) %>
      <.form_error form={f} field={:username} />
    </div>

    <div class="submit">
      <%= submit("Send password reset token") %>
    </div>
  <% end) %>
</div>
